/*
header{
    background: none repeat scroll 0 0 #A6C9E2;
    border: 1px;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

footer{
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
}*/
